* {
  user-select: none;

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

:root {
  background-color: rebeccapurple;
}

body {
  margin: 0;
}

.canvas {
  background-color: black;
  image-rendering: pixelated;
}

.gameContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameHeader {
  height: 80px;
}

.gameFooter {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
}

.gameControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#pattern-palette {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#fps {
  color: white;
  width: 80px;
  text-align: center;
}

#pause-btn {
  width: 80px;
}

.btn {
  padding: 12px;
  color: white;
  background-color: #442277;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
}

.btn:hover {
  background-color: #402066;
}

.description {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 3vw 40px 3vw;
}
