:root {
  background-color: black;
}

body {
  margin: 0
}

.canvas {
  image-rendering: pixelated;
  flex: 1;
}

.perfStats {
  position: absolute;
  top: 10;
  right: 10;
  background-color: black;
  color: white
}